:root {
  --color-background: rgba(143, 143, 143, 0.37);
  --color-background-hover: rgba(146, 146, 146, 0.541);
  --color-background-light: rgba(255, 255, 255, 0.527);
  --color-text: white;
  --color-primary: #171717;
  --color-secondary: #8d8d8d;
  --color-button-gradient-start: rgb(185, 185, 185);
  --color-button-gradient-end: #919191;
  --color-button-hover-gradient-start: #1b1b1b;
  --color-button-hover-gradient-end: #000000;
  --color-shadow: rgba(0, 0, 0, 0.575);
  --color-shadow-light: rgba(255, 255, 255, 0.288);
  --color-link: black;
}

.devCont {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.works {
  position: relative;
  width: 50%;
  margin-left: 25%;
  left: -32px;
  height: 100%;
  margin-top: 70px;
  margin-bottom: 150px;
  background-color: var(--color-background);
  padding: 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transition-delay: 0.4s;
  transition-duration: 0.4s;
  padding-left: 30px;
  padding-right: 30px;
}

.devUl {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  background-color: var(--color-background-light);
  border-radius: 25px;
  box-shadow: 0px 0px 14px var(--color-shadow);
  transition-duration: 0.4s;
  padding: 0px;
}

.devUl:hover {
  box-shadow: 0px 0px 14px var(--color-shadow-light);
}

.devLi {
  font-family: Trajan;
  font-size: 15px;
  list-style: none;
  text-align: left;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.infoLi {
  font-family: Trajan;
  font-size: 15px;
  list-style: none;
  text-align: left;
  transition-duration: 0.4s;
  width: auto;
}

.ulList {
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  margin-bottom: 50px;
  width: auto;
  list-style: none;
}

.projectImg {
  background-color: var(--color-primary);
  width: 300px;
  height: 180px;
  margin-right: 50px;
  background-image: url(../../../../assets/images/gif/loading.gif);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  border-radius: 15px;
}

.projectImgMobile {
  background-color: var(--color-primary);
  width: 180px;
  height: 316px;
  margin-right: 50px;
  background-image: url(../../../../assets/images/gif/loading.gif);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .projectImg,
  .projectImgMobile {
    scale: .7;
  }
  .ulList {
    flex-direction: column;
    height: auto;
    padding: 0;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    align-items: center;
  }

  .divImg {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 15px;
  }

  .divImgMobile {
    width: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 15px;
  }

  .divImg a {
    width: 300px;
    height: 180px;
    border-radius: 15px;
  }

  .divImgPhone a {
    height: 300px;
    width: 180px;
    border-radius: 15px;
  }

  .infoLi {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }
}

:visited,
:link,
:focus {
  color: var(--color-link);
}

.titleSection{
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: -25px;
  margin-top: -100px;
}

.title {
  font-family: Trajan;
  font-size: 3vw;
  color: var(--color-text);
  padding-left: 45px;
  padding-top: 20vh;
  padding-right: 100px;
  text-align: left;
  text-shadow: 0px 0px 4px var(--color-primary);
}

.title p {
  font-size: 1.4vw;
  text-shadow: 0px 0px 4px var(--color-primary);
}

.devLi h1 {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: auto;
  height: auto;
}

@media (max-width: 800px) {
  .text {
    display: flex;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin-top: 6px;
  }

  .devLi {
    vertical-align: middle;
    justify-content: center;
    padding-left: 17px;
    padding-right: 17px;
  }

  .devLi img {
    padding: 0px;
    margin: 0px;
    margin-top: -1px;
    scale: 0.7;
  }

  .parr {
    font-size: 12px;
  }

  .resumeButton {
    margin-top: 20px;
  }

  .devLi h1 {
    font-size: 18px;
  }

  .viewerUl {
    flex-direction: column;
  }

  .title {
    text-align: center;
    font-size: 4vw;
    padding-top: 80px;
  }

  .title p {
    font-size: 2.5vw;
  }

  .portfolioDevImg {
    width: 35vh;
  }

  .imgCont {
    width: 47vh;
    height: 47vh;
  }

  .imgCont:hover {
    width: 50vh;
    height: 50vh;
  }

  .introCont {
    width: 100%;
    line-height: 8px;
  }
}

@keyframes animation {
  from {
    opacity: 1;
    scale: 1;
  }

  to {
    opacity: 0.6;
    scale: 1.2;
  }
}

@keyframes resplandor {
  0% {
    box-shadow: 0px 0px 10px var(--color-shadow-light);
  }

  50% {
    box-shadow: 0px 0px 200px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0px 0px 10px var(--color-shadow-light);
  }
}

@keyframes animation1 {
  0% {
    width: 69vh;
    height: 69vh;
  }

  50% {
    width: 80vh;
    height: 80vh;
  }

  100% {
    width: 69vh;
    height: 69vh;
  }
}

@keyframes animation2 {
  0% {
    width: 57vh;
    height: 57vh;
  }

  50% {
    width: 60vh;
    height: 60vh;
  }

  100% {
    width: 57vh;
    height: 57vh;
  }
}