.footerCont{
  position: relative;
  bottom: 50px;
  width: 100%;
  margin-top: 0;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}

.footerCont h3{
  width: 80%;
}