.container {
  margin: 0;
  padding: 0;
  gap: 4rem;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: var(--app-white);
  display: flex;
  flex-direction: column;
}

.emptyCardContainer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}