.jokeContainer{
  width: 100%;
  max-height: 150px;
  text-align: center;
  color: black;
  background-color: var(--color-background-light);
  padding: 15px;
  padding-bottom: 20px;
  padding-top: 0px;
  border-radius: 15px;
  overflow-y: auto;
  font-family: var(--font-global);
}

span{
  color: black;
  font-size: 14px;
  font-family: var(--font-global);
  font-weight: 500;
}

.pTitle {
  font-family: var(--font-global);
  font-size: 18px;
  font-weight: 500;
}

.pInfo{
  margin-top: -10px;
}

i{
  font-size: 12px;
}

.jokeSubtitle{
  position: relative;
  top: -20px;
}

.jokeSubtitle:hover{
  color: rgb(59, 59, 59);
}

@media (max-width: 680px) {
  .jokeSubtitle{
    font-size: 14px;
  }
  span{
    font-size: 13px;
  }
}