.container {
  width: 100%;
  padding: 15px;
  max-height: 150px;
  text-align: center;
  font-family: var(--font-global);
  border: dashed 3px var(--color-secondary);
  border-radius: 15px;
}

.title {
  margin: 0;
  padding: 0;
}

.paragraph {
  font-size: 14px;
  font-family: var(--font-global);
  color: var(--color-secondary);
}

i {
  font-size: 12px;
}

.subtitle {
  margin: 0;
  color: rgb(206, 206, 206);
}

.subtitle:hover {
  color: rgb(175, 175, 175);
}

@media (max-width: 680px) {
  .subtitle {
    font-size: 14px;
  }

  .paragraph {
    font-size: 13px;
  }
}