.slider {
  width: 100%;
  min-height: 300px;
  transition-duration: .4s;
  transform: translateX(0);
  display: flex;
}

.sliderCont {
  width: 100%;
}

.sliderViewer {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  transition-duration: .4s;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons {
  z-index: 1;
  background-color: rgba(143, 143, 143, 0);
  border: none;
  color: white;
  padding: 10px;
  transition-duration: .4s;
}

#prev {
  border-bottom-left-radius: 15px;
}

#next {
  border-bottom-right-radius: 15px;
}

.buttons:hover {
  background-color: rgba(131, 131, 131, 0.425);
  cursor: pointer;
}

.prevButton {
  rotate: 90deg;
  opacity: .7;
  transition-duration: .4s;

}

.buttons:disabled {
  opacity: .4;
  cursor: default;
}

.buttons:disabled:hover {
  background-color: transparent;
}

.nextButton {
  rotate: -90deg;
  opacity: .7;
}

@media screen and (max-width: 1100px) {
  .buttons {
    padding: 5px;
  }

  #prev {
    margin-right: 10px;
  }

  #next {
    margin-left: 10px;
  }
}