.slider{
  width: 50vw;
  transition-duration: .4s;
  display: flex;
  justify-content: space-around;
}

.sliderCont{
  width: 50vw;
}

.sliderViewer{
  width: 100vw;
  height: auto;
  display: flex;
  transition-duration: .4s;
  justify-content: space-between;
}

.container{
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.buttons{
  z-index: 1;
  background-color: rgba(143, 143, 143, 0.37);
  border: none;
  color: white;
}

#prev{
  border-bottom-left-radius: 15px;

}

#next{
  border-bottom-right-radius: 15px;
}

.buttons:hover{
  background-color: rgba(131, 131, 131, 0.425);
  cursor: pointer;
}

.prevButton{
  rotate: 90deg;
  opacity: .7;
  transition-duration: .4s;
}

.buttons:disabled{
  opacity: .4;
  cursor: default;
}

.nextButton{
  rotate: -90deg;
  opacity: .7;
}

@media screen and (max-width: 1100px) {
  .buttons{
    padding: 0px;
  }
  #prev{
    margin-right: 10px;
  }
  
  #next{
    margin-left: 10px;
  }
}