.designContainer{
  margin-top: 100px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.logoList{
  height: 150px;
  width: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding-top: 25px;
  transition-duration: .4s;
}

.logoList:hover{
  border: solid;
}

.logoList img{
  margin-bottom: -30px;
}

h6{
  font-family: Poppins;
  font-size: 15px;
  font-weight: 200;
}

.section{
  background-color: rgba(143, 143, 143, 0.37);
  width: 60%;
  font-family: Trajan;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 50px;
  margin-bottom: 10px;
}

.logotypesContainer{
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
}

.logotypesContainer img{
  opacity: .5;
  transition-duration: .4s;
}

.logotypesContainer img:hover{
  opacity: 1;
}

.header p{
  font-family: Poppins;
}

@media (max-width: 600px) {
  .section{
    padding: 10px;
  }
}