.infoContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.582);
    box-shadow: 0px 0px 10px black;
    z-index: 99;
    display: none;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.infoCont{
    padding-bottom: 80px;
}

.ulCont {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding: 0;
    padding: 80px;
    padding-bottom: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.596);
}

.infoDiv{
    position: relative;
    width: 70vw;
    height: 70vh;
    margin: 0;
    background-color: var(--color-primary);
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    z-index: 1;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    z-index: 99;
    overflow: hidden;
    background-repeat: 'no-repeat';
    background-size: 300%;
    background-position: center;
}

.infoContainer p {
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    text-shadow: 0px 0px 4px var(--color-primary);
}

.titleCont{
    display: flex;
}

.divButtonA{
    background-color: transparent;
    border: none;
}

.divButton{
    display: flex;
    width: 115px;
    height: 35px;
    background: linear-gradient(230deg, rgb(185, 185, 185), #bfbfbf 85%);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: .4s;
    font-weight: 600;
}

.divButton p{
    color: #171717;
    text-shadow: none;
    transition: .4s;
    font-family: Trajan;
    padding-top: 0;
}

.divButton:hover{
    background: linear-gradient(230deg, rgb(27, 27, 27), #000000 85%);
}

.divButton:hover p{
    color: white;
}

.buttonsCont{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.textCont{
    max-width: 280px;
    text-align: left;
}

.externalTextCont{
    display: flex;
    justify-content: center;
}