.container {
  width: 100%;
  margin-top: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  color: var(--app-white);
}

.logoList {
  height: 150px;
  width: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding-top: 25px;
  transition-duration: .4s;
}

.logoList:hover {
  border: solid;
  border-width: 1.5px;
  transition-duration: .2s;
}

.logoList img {
  margin-bottom: -30px;
}

h6 {
  font-family: var(--font-global);
  font-size: 15px;
}

.section {
  background-color: rgba(143, 143, 143, 0.37);
  width: 100%;
  font-family: Trajan;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 10px;
}

.logotypesContainer {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  opacity: .6;
  transition-duration: .2s;
}

.logotypesContainer:hover {
  opacity: 1;
}

.header {
  padding: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.header p {
  font-family: var(--font-global);
}

.ulContainer {
  display: grid;
  padding: 0;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 20px;
}

li {
  list-style: none;
}

@media (max-width: 950px) {

  .header h1,
  .header p {
    font-size: .9rem;
  }
}

@media (max-width: 600px) {
  .section {
    padding: 0px;
  }

  .header h1,
  .header p {
    font-size: .8rem;
  }
}