.container {
    width: 100%;
    padding-top: 1rem;
}

.portfolioList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-top: 2rem;
    width: 100%;
    letter-spacing: .3rem;
    text-align: center;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.portfolioList h3 {
    color: var(--app-white);
    font-size: .6rem;
    font-family: Poppins;
}

.portfolioIconCont {
    border-radius: 100%;
    border: solid;
    border-color: aliceblue;
    transition-duration: .4s;
}

.portfolioIconCont:hover {
    animation-name: resplandor;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    scale: 1.1;
}

.linkStyle {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .portfolioList h3 {
        font-size: .5rem;
    }

    .portfolioIconCont {
        padding: 0;
        scale: .9;
    }

    .portfolioIconCont:hover {
        scale: .9;
    }
}

@media (max-width: 800px) {
    .portfolioList h3 {
        font-size: .4rem;
    }

    .portfolioIconCont {
        padding: 0;
        scale: .7;
    }

    .portfolioIconCont:hover {
        scale: .7;
    }
}

@media (max-width: 500px) {

    .portfolioIconCont {
        padding: 0;
        scale: .5;
    }

    .portfolioIconCont:hover {
        scale: .5;
    }
}

@keyframes resplandor {
    0% {
        box-shadow: 0px 0px 10px rgb(255, 255, 255);
    }

    50% {
        box-shadow: 0px 0px 200px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0px 0px 10px rgb(255, 255, 255);
    }
}