.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 100px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container li {
  background-color: rgba(143, 143, 143, 0.37);
  border-radius: 15px;
  width: 100%;
  padding-bottom: .8rem;
  backdrop-filter: blur(10px);
}

.clock {
  position: absolute;
  right: 0;
  padding: 1rem;
}

.ownerContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: .6rem;
}

.ownerContainer img {
  border-radius: 100%;
}


@media (max-width: 950px) {
  .sectionTitle {
    font-size: .7rem;
    margin-top: 1.5rem;
  }

  .title{
    font-size: .9rem;
    gap: .5rem;
  }

  .clock {
    width: 35px;
  }

  .openwindowIcon {
    width: 13px;
  }

  .githubIcon {
    width: 25px;
  }

  .ownerContainer img {
    height: 22px;
  }

  .ownerContainer {
    font-size: 13px;
  }
}