.skillsCont{
  width: 100%;
  padding-bottom: 100px;
  background-color: #171717;
  display: flex;
  flex-direction: column;
}

.icon{
  filter: grayscale(1);
  margin-left: 10px;
  margin-right: 10px;
}

.iconList{
  max-width: 50%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-gap: 20px;
  list-style: none;
  padding-left: 30px;
  padding-right: 50px;
  left: 25%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titleCont{
  width: 100%;
  text-align: center;
  padding-top: 100px;
  margin-left: 0px;
}

.titleCont h1{
  font-family:Trajan;
  color: white;
  font-size: 2.3rem;
}
.icon h5{
  text-align: center;
  font-size: 10px;
}

@media (max-width: 950px) {
  .titleCont h1{
      font-size: 1.5rem;
  }
  .iconList{
      scale: .9;
  }
}