@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@font-face {
  font-family: Trajan;
  src: url(../assets/fonts/TrajanusBricks.ttf);
}

#webLi {
  background-color: #171717d5;
}

#devListDesktopSection,
#devListMobileSection,
#devListSoftwareSection {
  display: none;
}

:root {
  --color-background: rgba(143, 143, 143, 0.37);
  --color-background-hover: rgba(146, 146, 146, 0.541);
  --color-background-light: rgba(255, 255, 255, 0.527);
  --color-text: white;
  --color-primary: #171717;
  --color-primary-purple: #987eaf;
  --color-primary-purple-hover: #ad8dc9;
  --color-secondary: #8d8d8d;
  --color-button-gradient-start: rgb(185, 185, 185);
  --color-button-gradient-end: #919191;
  --color-button-hover-gradient-start: #3e265efd;
  --color-button-hover-gradient-end: #291f2f;
  --color-shadow: rgba(0, 0, 0, 0.575);
  --color-shadow-light: rgba(255, 255, 255, 0.288);
  --color-link: black;
  --color-visited: black;
  --font-styled: Trajan;
  --font-global: 'Poppins', sans-serif;

  --size-1: 4px;
  --size-2: 8px;
  --size-3: 12px;
  --size-4: 16px;
  --size-5: 20px;
  --size-6: 24px;
  --size-7: 28px;
  --size-8: 32px;
  --size-9: 36px;
  --size-10: 40px;
  --size-11: 44px;
  --size-12: 48px;


  background: radial-gradient(circle at center top, #3e265efd, #0c0c0c 75%);
  background-repeat: no-repeat;
  background-attachment: fixed;


  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-global);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:link,
:visited {
  text-decoration: none;
  color: var(--color-visited);
}

:link:hover {
  text-decoration: none;
  color: var(--color-link);
}

::-webkit-scrollbar-track {
  background: linear-gradient(168deg, rgb(72, 72, 72) 20%, var(--color-primary) 120%);
}

::-webkit-scrollbar-thumb {
  background: var(--color-background);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-background-hover);
}

.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sections-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
}

.align-start {
  align-items: flex-start;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding-bottom: 5rem;
}

#skills-section {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

a:hover {
  color: var(--color-primary-purple-hover);
}

h1 {
  gap: .5rem;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-family: Trajan;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  z-index: 9999999;
  width: 7px;
  height: 100%;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgb(29, 29, 29);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(26, 24, 31);
}