@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@font-face {
  font-family: Trajan;
  src: url(../assets/fonts/TrajanusBricks.ttf);
}

#webLi{
  background-color: #171717d5;
}

#devListDesktopSection,
#devListMobileSection,
#devListSoftwareSection{
  display: none;
}

:root {
  --color-background: rgba(143, 143, 143, 0.37);
  --color-background-hover: rgba(146, 146, 146, 0.541);
  --color-background-light: rgba(255, 255, 255, 0.527);
  --color-text: white;
  --color-primary: #171717;
  --color-secondary: #8d8d8d;
  --color-button-gradient-start: rgb(185, 185, 185);
  --color-button-gradient-end: #919191;
  --color-button-hover-gradient-start: #2b2236;
  --color-button-hover-gradient-end: #291f2f;
  --color-shadow: rgba(0, 0, 0, 0.575);
  --color-shadow-light: rgba(255, 255, 255, 0.288);
  --color-link: black;
  --color-visited: black;
  --font-styled: Trajan;
  --font-global: 'Poppins', sans-serif;

  background: linear-gradient(230deg, #1e1928fd, #0c0c0c 75%);
  background-repeat: no-repeat;

  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-global);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:link,
:visited {
  text-decoration: none;
  color: var(--color-visited);
}

:link:hover {
  text-decoration: none;
  color: var(--color-link);
}

::-webkit-scrollbar-track {
  background: linear-gradient(168deg, rgb(72, 72, 72) 20%, var(--color-primary) 120%);
}

::-webkit-scrollbar-thumb {
  background: var(--color-background);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-background-hover);
}

#second, #third{
  opacity: 0.4;
  transition: .7s;
  transform: rotateY(90deg);
}

#first {
  transition: .7s;
}

.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding-left: 70px;
  padding-right: 70px;
}

a:hover {
  color: rgb(216, 216, 216);
}

h1 {
  font-family: Trajan;
  color: white;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}