.worksContainer{
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.works{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.infoCont{
  text-align: left;
  width: 280px;
}

.devUl{
  width: 100%;
  height: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 100px;
  padding: 0;
}

.devLi{
  font-size: 15px;
  font-weight: bolder;
  list-style: none;
  transition-duration: .4s;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
}

.buttonClose{
  background-color: #e2e2e2;
  color: rgb(0, 0, 0);
  transition-duration: .4s;
  cursor: pointer;
  border-width: 1px;
  border-top-right-radius: 25px;
}

.buttonClose:hover{
  background-color: #171717;
  color: white;
}

.ulList{
  background-color: var(--color-background);
  border-radius: 15px;
  transition-duration: .4s;
  width: auto;
  padding: 20px;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
}

.devLi p{
  transition-delay: 1s;
  font-family: var(--font-global);
  width: 280px;
  text-align: left;
}
.ulList:hover{
  box-shadow: 0px 0px 14px rgba(146, 146, 146, 0.541);
}


@keyframes animation {
  from {
    opacity: 1;
    scale: 1
  }
  to {
    opacity: .6;
    scale: 1.2
  }
}

.ytPlayer{
  background-color: #171717;
  width: 280px;
  height: 157.5px;
  border-radius: 3px;
  box-shadow: 0px 0px 7px black;
  margin-top: 10px;
  background-image: url(../../../assets/images/gif/loading.gif);
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .devUl{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .devUl{
    grid-template-columns: 1fr;
  }
}