.contTitle{
    position: relative;
    max-width: 100%;
    height: auto;
    text-align: center;
    border-bottom: solid;
    border-bottom-color: rgb(239, 239, 239);
    border-radius: 15px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    backdrop-filter: blur(10px);
}

.par{
    font-weight: thin; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
}

.contTitle h1{
    font-size: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    font-family: Trajan;
    font-weight: 300;
}

.showMoreIcon{
    transition-duration: .4s
}

@media (max-width: 950px) {
    .showMoreIcon {
        position: relative;
        scale: .6;
        margin-top: -7px;
        top: 3px;
    }
    .contTitle h1{
        font-size: 12px;
    }
}