.componentContainer {
    width: 100%;
}

.contTitle{
    max-width: 100%;
    height: auto;
    text-align: center;
    border-bottom: solid;
    border-bottom-color: rgba(239, 239, 239, 0.863);
    border-radius: 15px;
    padding: .5rem;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    backdrop-filter: blur(10px);
    z-index: 9;
}

.par{
    font-family: var(--font-global);
    font-size: 14px;
}

.contTitle h1{
    font-size: 24px;
    width: auto;
    display: flex;
    justify-content: center;
    font-family: Trajan;
}

.showMoreIcon{
    transition-duration: .4s
}

@media (max-width: 950px) {
    .showMoreIcon {
        scale: .6;
        margin-top: -7px;
        top: 3px;
    }
    .contTitle h1{
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .contTitle h1{
        font-size: 8px;
    }
}