.infoContainer{
    width: 80vw;
    height: 80vh;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.829);
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
}

.infoContainer p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}