.webBg{
    background-image: url(../../../../assets/images/png/web-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: fixed;
    animation-name: animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    overflow: auto;
}

.pInfoCont{
    width: 100%;
    position: relative;
    left: -50px;
    padding: 20px;
    margin-bottom: 100px;
    text-align: center;
    background-color: #aaaaaa4b;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-weight: 600;
}

.pInfo{
    font-size: 13px;
}

.titleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContPerc{
    width: 60%;
}

.formCont{
    margin-top: 100px;
    margin-left: -60px;
    padding-right: 30px;
    padding-left: 10px;
}

.formCont label{
    font-family: Trajan;
}

.formCont input{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    background-color: #171717d5;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.formCont textarea{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100px;
    resize: none;
    background-color: #171717d5;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.divFormCont{
    position: relative;
    width: 50%;
    text-align: left;
    margin-left: 25%;
    left: 30px;
}

.showFormCont{
    font-family: Trajan;
    position: absolute;
    margin-top: 150px;
    width: 50%;
    margin-left: 25%;
    color: black;
    background-color: rgba(143, 143, 143, 0.37);
    border-radius: 15px;
    text-align: center;
    padding: 2rem;
    left: -18px;
}

.submitButton{
    margin-top: 10px;
    margin-bottom: 100px;
    background: linear-gradient(230deg, rgb(224, 224, 224), #aaaaaa 85%);
    border-radius: 3%;
    transition-duration: .5s;
    padding: 8px;
    font-weight: thin; 
    font-family: Trajan;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 4px #000000;
}

.submitButton:hover{
    cursor: pointer;
    background: linear-gradient(230deg, rgb(27, 27, 27), #000000 85%);
    color: white;
    scale: 1.01;
    animation-name: resplandor;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 0px 1px rgb(255, 255, 255);
}

.pInfo {
    line-height: 23px;
}

.pInfo a {
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    transition-duration: .4s;
    background: linear-gradient(168deg, rgb(102, 101, 101) 20%, #7a7a7a 120%);
    font-weight: 100;
}

.pInfo a:hover {
    color: white;
    background: #171717d5;
}