.devCont{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.works{
  width: 100%;
  height: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
}

.devUl{
  position: relative;
  margin-left: 15%;
  width: 70%;
  height: auto;
  display: grid;
  background-color: rgba(255, 255, 255, 0.527);
  border-radius: 25px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.575);
  transition-duration: .4s;
}

.devUl:hover{
  box-shadow: 0px 0px 14px rgba(146, 146, 146, 0.541);
}

.devLi{
  font-family: Trajan;
  font-size: 20px;
  list-style: none;
  text-align: left;
  transition-duration: .4s;
  cursor: pointer;
}

:link, :visited{
  color: black
}

.ulList{
  position: relative;
  margin-left: -40px;
}

@media (max-width: 680px) {
  .devLi{
    font-size: 13px;
  }
}

@keyframes animation {
  from {
    opacity: 1;
    scale: 1
  }
  to {
    opacity: .6;
    scale: 1.2
  }
}