.container {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: centerww;
}

.imgProfile {
  border-radius: 100%;
  border: none;
  filter: grayscale(.5);
  transition-duration: .5s;
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
}

.imgProfile:hover {
  filter: grayscale(.3);
  box-shadow: 0px 0px 15px white;
}

.alias {
  margin: 0;
  font-size: 15px;
  animation-name: resplandorAlias;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  font-family: Trajan;
  color: white;
  font-weight: thin;
}

.name {
  margin: 0;
  font-size: 25px;
  font-family: Trajan;
  color: white;
  font-weight: thin;
}

@keyframes resplandorAlias {
  from {
    filter: drop-shadow(0px 0px 2px rgba(254, 254, 159, 0.768));
  }

  to {
    filter: drop-shadow(0px 0px 3px rgb(251, 251, 251));
  }
}

@media (max-width: 680px) {
  .imgProfile {
    width: 100px;
  }
}

@media (max-width: 620px) {
  .name {
    font-size: 15px;
  }

  .alias {
    font-size: 10px;
  }
}

@media (max-width: 550px) {
  .name {
    font-size: 13px;
  }

  .alias {
    font-size: 9px;
  }
}

@media (max-width: 500px) {
  .imgProfile {
    width: 85px;
  }
}