.container {
  background-color: var(--color-primary);
  padding: 0;
  margin: 0;
}

.viewerCont {
  background-color: var(--color-primary);
  min-height: 720px;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parr {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  text-shadow: 0px 0px 4px var(--color-primary);
}

.description {
  max-width: 500px;
  line-height: 15px;
  text-align: left;
}

.viewerUl {
  width: 100%;
  max-width: 1440px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  padding-left: 70px;
  padding-right: 70px;
}

.imgCont {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.portfolioImg {
  width: 200px;
}

.title {
  margin: 0;
  padding: 0;
  font-family: Trajan;
  font-size: 3vw;
  color: white;
  text-align: left;
  text-shadow: 0px 0px 4px var(--color-primary);
}

.subtitle {
  font-family: Trajan;
  color: white;
  font-size: 1.4vw;
  text-shadow: 0px 0px 4px var(--color-primary);
}

.actionButton {
  margin: 0;
  background: linear-gradient(230deg, rgb(185, 185, 185), #919191 85%);
  border-radius: 3%;
  font-weight: thin;
  font-family: Trajan;
  border-radius: 10px;
  border: none;
  height: 35px;
  width: 200px;
  position: relative;
  transition-duration: .5s;
}

.actionButton:hover {
  cursor: pointer;
  background: linear-gradient(230deg, rgb(27, 27, 27), #000000 85%);
  color: white;
  scale: 1.01;
  animation-name: resplandor;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  box-shadow: 0px 0px 1px rgb(255, 255, 255);
}

.actoionLink:hover {
  color: white;
  cursor: pointer;
}

.buttonsCont {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.actionLink {
  border-radius: 3%;
  transition-duration: .5s;
  font-weight: thin;
  font-family: Trajan;
  border-radius: 10px;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

@media (max-width: 800px) {
  .buttonsCont {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 40px;
  }

  .viewerCont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }

  .parr {
    font-size: 10px;
    text-align: center;
  }

  .actionButton {
    margin: 0;
    width: 100%;
  }

  .actionLink {
    margin: 0;
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }

  .viewerUl {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .title {
    text-align: center;
    width: 100%;
    font-size: 4vw;
  }

  .subtitle {
    width: 100%;
    font-size: 2.5vw;
  }

  .imgCont {
    justify-content: center;
    left: 0;
    width: 100%;
    margin-top: 100px;
  }

  .portfolioImg {
    width: 100px;
    margin-right: 0px;
  }

  .description {
    width: 100%;
  }
}

@keyframes resplandor {
  0% {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }

  50% {
    box-shadow: 0px 0px 200px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
}