.lateralPanel {
    width: 0;
    height: 100vh;
    z-index: 9999;
    box-shadow: 0px 0px 30px #434343;
    transition-duration: 1s;
    overflow-y: auto;
    font-family: Trajan;
    background: linear-gradient(to left, #000000, #0e0e0e 99%);
}

.innerContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    transition-duration: 1s;
    display: flex;
    align-items: center;
    flex-direction: column;
}