.container{
    background: linear-gradient(to left, #000000a9, #0e0e0eec 99%);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
    box-shadow: 0px 0px 30px #434343;
    font-family: Trajan;
    z-index: 9999;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-40vw);
    opacity: 0;
    transition-duration: 1s;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}