.navExtContainer{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navIntContainer{
  background-color: rgba(0, 0, 0, 0.671);
  width: 60%;
  height: 100%;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  padding: 0px;
}

.navList{
  display: flex;
  list-style: none;
  color: white;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Trajan;
  height: 100%;
}

.navList li{
  transition-duration: 4s;
}

.navList li:hover{
  transition-duration: 4s;
  cursor: pointer;
}

.mobile{
  display: none;
}

select{
  background-color: transparent;
  color: white;
  width: 100%;
  position: relative;
  border-radius: 15px;
  border: none;
  text-align: center;
  font-family: Poppins;
  text-indent: 15px;
  height: 40px;
  font-size: 17px;
}

select:active, 
select:focus,
select::after{
  outline: none;
  border: none;}

option{
  background-color: rgba(0, 0, 0, 0.781);
  backdrop-filter: blur(10px);
}

@media (max-width: 1200px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: flex;
  }
  .navList{
    padding-left: 15px;
    padding-right: 15px;
  }
  .navExtContainer{
    height: 40px;
  }
}
