.soundCont{
  background-image: url(../../../../assets/images/png/web-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.titleContainer{
  width: 60%;
  margin-left: 20%;
}