.button{
    position: relative;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    transition-duration: .4s;
    color: white;
    background-color: grey;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.button:hover{
    scale: 1.1;
    cursor: pointer;
}
