.button{
    position: relative;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    transition-duration: .4s;
    color: var(--app-white);
    background-color: grey;
    border: none;
}

.button:hover{
    scale: 1.1;
    cursor: pointer;
}
