.container {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.skillsCont {
  gap: 2rem;
  width: 100%;  
  max-width: 800px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  filter: grayscale(1);
}

.iconList{
  max-width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icon h5{
  text-align: center;
  font-size: 10px;
}