.devCont{
  padding: 0;
  height: auto;
  width: 100vw;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.devUlCont {
  padding: 0;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 200px;
  border-radius: 5px;
}

.devUlCont li {
  flex: 0 0 180px;
  margin: 10px;
}

.devLiCont{
  list-style: none;
  height: 300px;
  transform: skew(-5deg);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  background-color: #171717;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 10px black;
  transition-duration: .4s;
  filter: grayscale(.2);
  border-radius: 5px;
}

.backImgCanvas{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(168deg, rgba(0, 0, 0, 0.178) 20%, rgba(0, 0, 0, 0.788) 100%);
  transition: .4s;
  backdrop-filter: blur(.2px);
  border-radius: 5px;
}

.backImgCanvas:hover,
.devLiCont:hover{
  backdrop-filter: blur(0px);
  background: linear-gradient(to bottom, rgba(72, 72, 72, 0) 10%, rgb(0, 0, 0) 80%);
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  filter: grayscale(0);
}

.backImgCanvas h1{
  font-family: Poppins;
  color: white;
  font-size: 12px;
  position: relative;
  top: 220px;
  padding: 10px;
}

.cathegoryDescription{
  height: auto;
  width:40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cathegoryDescription h1{
  font-family: Trajan;
}

@media (max-width: 950px) {
  .cathegoryDescription h1{
    font-size: 18px;
  }
  .devUlCont li {
    flex: 0 0 125px;
    height: 200px;
  }
  .backImgCanvas h1{
    font-family: Poppins;
    color: white;
    font-size: 9px;
    position: relative;
    top: 145px;
    padding: 10px;
  }
  .cathegoryDescription p{
    font-size: 12px;
  }

  .cathegoryDescription{
    width: 100%;
  }
}