.nav {
  left: 0;
  height: 100vh;
  z-index: 99;
  padding-left: 10px;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
}

.navCont {
  width: 50px;
  opacity: .6;
  border-radius: 15px;
  transition-duration: 1s;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.746);
  border: none;
}

.navCont:hover {
  opacity: 1;
}

.ulCont {
  gap: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.ulCont li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navImg {
  width: 30px;
  height: 30px;
  filter: grayscale(0.2);
  transition-duration: 1s;
  scale: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.navImg:hover {
  cursor: pointer;
  scale: 1.2;
}

.menuItem {
  transition-duration: .4s;
  scale: 0;
  position: absolute;
  margin-left: 50px;
  font-family: Trajan;
  color: rgb(32, 32, 32);
  font-size: 10px;
  text-shadow: 0px 0px 2px var(--app-white);
  background-color: rgba(255, 255, 255, 0.931);
}