.container {
  width: 100%;
  display: flex;
  color: var(--app-white);
  gap: 1rem;
}

.sectionsContainer {
  display: flex;
}

.leftSection,
.rightSection {
  gap: 1rem;
  width: 100%;
  display: flex;
  padding-top: 1rem;
}

.leftSection ul h2 {
  color: var(--color-app-primary);
}

.leftSection ul,
.rightSection ul{
  padding: 0;
  width: 100%;
  display: flex;
  text-align: start;
  flex-direction: column;
  gap: 1rem;
}

.more {
  color: var(--color-app-primary);
}

@media (max-width: 800px) {
  .sectionsContainer {
    flex-direction: column;
  }
}